{% extends 'base.html.twig' %}
{% block header %}
<header class="site-navbar site-navbar-target" role="banner">

    <div class="container mb-3">
        <div class="d-flex align-items-center">
            <div class="site-logo mr-auto">
                <a href="index.html">Schooli<span class="text-primary">.</span></a>
            </div>
            <div class="site-quick-contact d-none d-lg-flex ml-auto ">
                <div class="d-flex site-info align-items-center mr-5">
                    <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
                    <span>Esprit , Tunisia</span>
                </div>
                <div class="d-flex site-info align-items-center">
                    <span class="block-icon mr-3"><span class="icon-clock-o"></span></span>
                    <span>Monday - Friday 8:00AM - 4:00PM <br> Saturday 8:00AM - 12:00PM <br> Sunday CLOSED</span>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="menu-wrap d-flex align-items-center">
            <span class="d-inline-block d-lg-none"><a href=" " class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>



            <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto ">
                    <li><a href="{{ path ('event_affiche')}}" class="nav-link">Events</a></li>
                    <li><a href="{{ path ('planning_affiche2')}}" class="nav-link">Planning</a></li>
                    <li><a href=" {{ path ('reclamation_read')}}" class="nav-link">Reclamation</a></li>
                    <li><a href=" {{ path ('meeting_affiche')}}" class="nav-link">Meeting</a></li>
                    <li><a href="{{ path ('matiere_affiche')}} " class="nav-link">Courses</a></li>
                    <li><a href="{{ path ('wall_affiche')}} " class="nav-link">Wall</a></li>
                    <li><a href=" " class="nav-link">Quiz</a></li>
                    <li><a href=" {{ path ('activite_display')}}" class="nav-link">Activity</a></li>
                    <li><a href=" {{ path ('event_calendar')}}" class="nav-link">Calendar</a></li>
                    <li><a href=" {{ path ('fos_user_security_logout')}}" class="nav-link">Log out</a></li>
                </ul>
            </nav>

            <div class="top-social ml-auto">
                <a href="{{ asset ('https://www.facebook.com/ ')}}"><span class="icon-facebook text-teal"></span></a>
                <a href="{{ asset ('https://www.instagram.com/?hl=fr ')}}"><span class="icon-instagram text-success"></span></a>
            </div>
        </div>
    </div>

</header>
<!---------------------------------------->
<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-5 mt-5 pt-5">
                    <span class="text-cursive h5 text-red">Building the new generation</span>
                    <h1 class="mb-3 font-weight-bold text-teal">Bring Fun To The School Life Of Your Kids</h1>
                </div>
                <div class="col-md-6 ml-auto align-self-end">
                    <img src="{{ asset ('images/kid_transparent.png')}}" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <br>
    {% block body %}
{% if reclamations == NULL %}
    <h3>Pas de reclamations</h3>
{% else %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div style="margin-left: 400px" class="col-sm-8"><h3>Reclamations</h3></div>
                    <div class="col-sm-4">

                        <a href="{{ path('reclamation_create') }}" class="btn btn-sm btn-primary btn-create"> <b>+</b> Create new</a>
                    </div>
                </div>
            </div>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Full Name</th>
                    <th class="text-center">E-mail</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Message </th>
                    <th class="text-center">Actions </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for i in reclamations %}
                <tr>
                    <td>{{ i.fullname }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.phone }}</td>
                    <td>{{ i.message }}</td>
                    <td>
                        <a class="edit" href="{{ path('reclamation_update', { 'id': i.id} ) }}" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                        <a class="delete" href="{{ path('reclamation_delete', { 'id': i.id} ) }}" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                    </td>
                </tr>
                {% endfor %}


                </tbody>
            </table>
            <br>
            <div class="navigation">
                {{ knp_pagination_render(reclamations) }}
            </div>
        </div>
    </div>
    </body>

{% endif %}
    {% endblock %}
 <br>
{% endblock %}