{% extends 'base.html.twig' %}
{% block header %}
    <header class="site-navbar site-navbar-target" role="banner">

        <div class="container mb-3">
            <div class="d-flex align-items-center">
                <div class="site-logo mr-auto">
                    <a href="index.html">Schooli<span class="text-primary">.</span></a>
                </div>
                <div class="site-quick-contact d-none d-lg-flex ml-auto ">
                    <div class="d-flex site-info align-items-center mr-5">
                        <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
                        <span>Esprit , Tunisia</span>
                    </div>
                    <div class="d-flex site-info align-items-center">
                        <span class="block-icon mr-3"><span class="icon-clock-o"></span></span>
                        <span>Monday - Friday 8:00AM - 4:00PM <br> Saturday 8:00AM - 12:00PM <br> Sunday CLOSED</span>
                    </div>

                </div>
            </div>
        </div>


        <div class="container">
            <div class="menu-wrap d-flex align-items-center">
                <span class="d-inline-block d-lg-none"><a href=" " class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>

                <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto ">
                        <li><a href="{{ path ('event_affiche')}}" class="nav-link">Events</a></li>
                        <li><a href="{{ path ('planning_affiche2')}}" class="nav-link">Planning</a></li>
                        <li><a href=" {{ path ('reclamation_read')}}" class="nav-link">Reclamation</a></li>
                        <li><a href=" {{ path ('meeting_affiche')}}" class="nav-link">Meeting</a></li>
                        <li><a href="{{ path ('matiere_affiche')}} " class="nav-link">Courses</a></li>
                        <li><a href="{{ path ('wall_affiche')}} " class="nav-link">Wall</a></li>
                        <li><a href=" " class="nav-link">Quiz</a></li>
                        <li><a href=" {{ path ('activite_display')}}" class="nav-link">Activity</a></li>
                        <li><a href=" {{ path ('event_calendar')}}" class="nav-link">Calendar</a></li>
                        <li><a href=" {{ path ('fos_user_security_logout')}}" class="nav-link">Log out</a></li>
                    </ul>
                </nav>

                <div class="top-social ml-auto">
                    <a href="{{ asset ('https://www.facebook.com/ ')}}"><span class="icon-facebook text-teal"></span></a>
                    <a href="{{ asset ('https://www.instagram.com/?hl=fr ')}}"><span class="icon-instagram text-success"></span></a>
                </div>
            </div>
        </div>

    </header>
    <!---------------------------------------->
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col-md-5 mt-5 pt-5">
                        <span class="text-cursive h5 text-red">Building the new generation</span>
                        <h1 class="mb-3 font-weight-bold text-teal">Bring Fun To The School Life Of Your Kids</h1>
                    </div>
                    <div class="col-md-6 ml-auto align-self-end">
                        <img src="{{ asset ('images/kid_transparent.png')}}" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!---------------------------------------->

    <div >
        <div style="margin-left: 500px"><h1>Activity list</h1></div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Time start</th>
                <th>Time end</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for activite in activites %}
                <tr>
                    <td><img src="/upload/images/{{ activite.photo }}" alt="pp" srcset=""></td>
                    <td>{{ activite.nomActivite }}</td>
                    <td>{% if activite.dateActivite %}{{ activite.dateActivite|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if activite.timeStart %}{{ activite.timeStart|date('H:i:s') }}{% endif %}</td>
                    <td>{% if activite.timeEnd %}{{ activite.timeEnd|date('H:i:s') }}{% endif %}</td>
                    <td>{{ activite.description }}</td>
                    <td>
                        <ul>
                                <div class="col-xs-12">
                                    <button class="btn btn-dark btn-round waves-effect waves-light m-1" onclick="window.print();">Imprimer</button>
                                    <a href="{{ path ('avis_aff')}}" class="btn btn-danger btn-round waves-effect waves-light m-1">Give your Notice</a>
                                </div>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(activites) }}
        </div>

    </div>
{% endblock %}
